@import url(../variables.css);

.navBottomContainer {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--grey-color);
}

.navContainer { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.icon {
  color: var(--grey-color);
  font-size: 5vh ;
}
ul {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style: none;
}
