@import url(../variables.css);

.navBottomContainer {
  background-color: var(--green-dark);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.navContainer { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.icon {
  color: #3e3e3e;
  font-size: 5vh ;
}
