@import url(../variables.css);

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchInput {
    width:75vw; 
    border-radius: 5px;
    height: 4vh;
    border-color: var(--green-dark);
    border-style: solid;
    color: var(--green-dark);
}
.searchIcon {
    color: var(--green-dark);
    height:3vh;
}