@import url(../variables.css);

.container{
    width: 70vw;
}
.searchInput {
    width:70vw; 
    border-radius: 5px;
    height: 4vh;
    font-size: 1rem;
    border-color: var(--grey-color);
    color: var(--grey-color);
}
.searchIcon {
    color: var(--green-dark);
    height:3vh;
}