@import url(./styles/variables.css);

body {
  border: 1px solid blueviolet;
  background-color: var(--body-bg-color);
  font-family: var(--main-font);
  color: var(--text-color);
  overflow-x: hidden; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  scroll-padding-block: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2rem;
  color: var(--grey-color);
}

p {
  font-size: 1rem;
  color: var(--grey-color);
}
.error-messages{
  margin: 12px;
  text-align: center;
  color:red;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.btn {
  background-color: var(--green-dark);
  color: var(--grey-color);
  font-size: 0.7rem;
  font-weight:600;
  border: 1px solid var(--green-light);
  border-radius: 5px;
  padding:5px;
}
