@import url(./styles/variables.css);


body {
  /* border: 1px solid pink; */
  background-color: var(--body-bg-color);
  font-family: var(--main-font);
  color: var(--text-color);
  width: 100%;
}

.icon {
  color: #3e3e3e;
  font-size: 20px !important;
}
