@import url(./styles/variables.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lemon&display=swap');

body {
  border: 1px solid blueviolet;
  background-color: var(--body-bg-color);
  font-family: var(--main-font);
  color: var(--text-color);
  overflow-x: hidden; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  scroll-padding-block: none;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1rem;
  border-radius: 1vw;
}
hr {
  color: var(--green-dark);
  height: 1px;
}
h1 {
  font-size: 2rem;
  color: var(--grey-color);
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
  text-align: center;
}

p {
  font-size: 0.8rem;
  color: var(--grey-color);
}
span {
  font-size: 0.7rem;
  color: var(--grey-color);
}
button {
  cursor: pointer;
  padding: 5px;
}
.error-messages{
  margin: 12px;
  text-align: center;
  color:red;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
img {
  margin:1vw;
  border-radius: 1vh;
  /* border: 1px solid var(--green-dark); */
}
div {
  margin: 0;
  padding: 0;
}
.btn {
  background-color: var(--green-dark);
  color: var(--grey-color);
  font-size: 0.7rem;
  font-weight:600;
  border: 1px solid var(--green-light);
  border-radius: 5px;
  margin:1vh 0vh;
  padding: 1vh 4vh 1vh 4vh;
}
.btn2 {
  background-color: var(--grey-color);
  color: var(--green-light);
  font-size: 0.8rem;
  font-weight:600;
  border: 1px solid var(--green-light);
  border-radius: 5px;
  margin:2vh 0vh;
  padding: 1vh 6vh 1vh 6vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/img/background.jpg);
  background-repeat: repeat;
  background-size: 240px;
  width:100%;
  /* height:fit-content; */
}
.content{
  background-color: var(--body-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1vw;
  padding:2vh 4vw;
  min-width: 60vw;
  max-width: 95vw;
  min-height: 70vh;
  margin-top:6vh;
  margin-bottom:12vh;
}
.input {
  width:100%;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
  height: 1.2rem;
  border-radius: 1vw;
  padding: 1vh;
}
.productGrid {
  /* border: 1px solid red; */
  display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1vh;
  column-gap: 1vw;
  width: 70vw;
  justify-content: center;
  align-items: center;
}
.productDiv {
  /* border: 1px solid blue; */
  padding: 0;
}
.geolocation {
  border: 1px solid firebrick;
  background-color: antiquewhite;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .productGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  } 
}
@media (min-width: 1024px) {
  .productGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}